.app {
     /* Add app styles here */
}

.x-panel-empty{
    /*border: 1px solid red;*/
	background-color: #FCFCFC;
	border: 1px solid #D8D8D8;
}

.x-panel-header-horizontal{
	border: 1px solid #D8D8D8;
}